<?xml version="1.0" encoding="UTF-8"?>
<events>
	<event>
		<text>You are attacked by a zombie and some placeholder text is displayed</text>
		<!-- Optional, Default to 1 -->
		<tier>3</tier>
		<choice>
			<!-- Text displayed on the button -->
			<text>Have at thee !</text>
			<!-- Optional, a choice without outcome will simply close the event message. The "chance" attribute is optional with only one outcome.-->
			<outcome chance="40">
				<text>Urgh ! I took damage ! And I lost some money in the moment !</text>
				<!-- Stats are optional -->
				<hp>-5</hp>
				<stamina>-10</stamina>
				<gold>-2</gold>
			</outcome>
			<!-- With multiple outcome, only one will be took in random -->
      <outcome chance="60">
				<text>Ha ! Easy peasy, no problem at all.</text>
				<stamina>-3</stamina>
				<goodmood/>
			</outcome>
		</choice>
	</event>
</events>